name: Java CI

on: 
  push: 
    branches: 
      - fargate-ci
  pull_request:
    branches: 
      - main
      - dev
      - fargate-ci

jobs:
  build_rca_pkg:
    runs-on: [ubuntu-latest]
    name: Building RCA package
    steps:
    - name: Set up JDK 1.12
      uses: actions/setup-java@v1
      with:
        java-version: 1.12
    - name: Checkout RCA package
      uses: actions/checkout@v2
      with:
        path: ./tmp/performance-analyzer-rca
      # fetch the main branch to make it available for spotless ratcheting
    - name: Fetch RCA 'main' branch
      working-directory:  ./tmp/performance-analyzer-rca
      run: git fetch --depth=1 origin main
    - name: Checkout Performance Analyzer package
      uses: actions/checkout@v2
      with:
        repository: opendistro-for-elasticsearch/performance-analyzer
        ref: fargate-ci
        path: ./tmp/performance-analyzer
    - name: Build RCA with Gradle
      working-directory:  ./tmp/performance-analyzer-rca
      run: ./gradlew build --stacktrace
    - name: Upload reports
      uses: actions/upload-artifact@v2
      with:
        name: gradle-reports
        path: ./tmp/performance-analyzer-rca/build/reports
    - name: Generate Jacoco coverage report
      working-directory: ./tmp/performance-analyzer-rca
      run: ./gradlew jacocoTestReport
    - name: Upload coverage report
      working-directory: ./tmp/performance-analyzer-rca
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: bash <(curl -s https://codecov.io/bash) -f ./build/reports/jacoco/test/jacocoTestReport.xml
    - name: Publish RCA jar to maven local
      working-directory: ./tmp/performance-analyzer-rca
      run: ./gradlew publishToMavenLocal
    - name: Build PA gradle using the new RCA jar
      working-directory: ./tmp/performance-analyzer
      run: rm licenses/performanceanalyzer-rca-1.13.jar.sha1
    - name: Update SHA
      working-directory: ./tmp/performance-analyzer
      run: ./gradlew updateShas
    - name: Build PA and run Unit Tests
      working-directory: ./tmp/performance-analyzer
      run: ./gradlew build -i
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.RCA_TESTS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.RCA_TESTS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2
    - name: Log in to ECR
      uses: aws-actions/amazon-ecr-login@v1
      id: login-ecr
    - name: Copy build artifacts
      working-directory: ./tmp/performance-analyzer-rca
      run: ./gradlew copyAllArtifacts
    - name: Push Elasticsearch docker image to ECR
      working-directory: ./tmp/performance-analyzer-rca/build/elasticsearch-docker
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: rca-tests-es-pa-rca
        IMAGE_TAG: ${{ github.sha }}
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
    - name: Push Testrunner docker image to ECR
      working-directory: ./tmp/performance-analyzer-rca/build/testrunner-docker
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: rca-tests-testrunner
        IMAGE_TAG: ${{ github.sha }}
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
  rca_integration_tests:
    runs-on: [ubuntu-latest]
    name: Running RCA integration tests
    needs: build_rca_pkg
    steps:
      - name: Hello World
        run: echo Hello World



    # - name: Spin up Docker cluster for integ testing
    #   working-directory: ./tmp/performance-analyzer-rca
    #   run: ./gradlew enableRca
    # - name: Run integration tests
    #   working-directory: ./tmp/pa
    #   run: ./gradlew integTest --info --stacktrace -Dtests.enableIT=true
    # - name: Build Docker image
    #   working-directory: ./tmp/performance-analyzer-rca
    #   run: ./gradlew buildDocker
